apex==0.9.10dev
einops==0.7.0
matplotlib==3.8.0
numpy==1.26.0
opencv_python==4.8.0.76
pandas==2.1.1
Pillow==10.0.1
pydantic==2.4.2
PyYAML==6.0.1
scikit_learn==1.2.1
scipy==1.11.3
SimpleITK==2.3.0
timm==0.6.12
tqdm==4.64.1
wandb==0.15.12
